{% extends 'components/base.html' %}
{% load static %}

{% block body %}
    <section class="hero-section">
        <h1>Seu Dia a Dia, Trabalhando com Eficiência</h1>
        <p>Acompanhe suas empresas, priorize tarefas e controle todo o fluxo de trabalho – tudo em um só lugar.</p>
    </section>

    <section class="folders-section">
        <div class="folders-header">
            <h2>Suas empresas</h2>
            <p>Veja abaixo a lista completa das empresas ativas</p>
        </div>
        
        <div class="folders-controls">
            <div class="search-bar">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                <input type="text" placeholder="Pesquise a lista completa de empresas">
            </div>
            <div class="action-buttons">
                <button class="btn-create">Criar Empresa</button>
            </div>
        </div>
        
        <table class="folders-table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Data de Cadastro</th>
                    <th>Colaboradores</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for company in companysUser %}
                    <tr>
                        <td>{{ company.company.name }}</td>
                        <td>{{ company.company.dt_creation }}</td>
                        <td>{{ company.company.colaborators }}</td>
                        <td>
                            <a href="{% url 'dashBoardCompany' id=company.company.id %}" class="btn-open">Abrir</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
<!-- <form method="post" action="{% url 'createCompany' %}" id="companyForm">
    {% csrf_token %}
    <p>Cadastrar Empresa</p>
    {% for field in form %}
        {{ field.label_tag }}
        {{ field }}
        <br><br>
    {% endfor %}
    <button type="submit">Cadastrar</button>
</form> -->

{% endblock %}

{% block script %}
    <script src="{% static 'js/masks.js' %}"></script>
{% endblock %}
